.enviar{
    cursor: pointer;
}
h2{
    text-align: center;
    font-size: 3em
}
h4{
    font-style: italic
}
p{
    font-weight: bolder;
    margin-left: 30px
}
input textarea{
    margin-left: 30px
}